* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

table > thead tr, tbody tr {
    font-size: 16px;
}
.eyeIcon, .editIcon, .replyIcon, .deleteIcon {
    border: transparent;
    background: transparent;
    color: #6c757d;
    font-size: 20px;
}

.editIcon {
    color: #0D6EFD;
}
.deleteIcon{
    color: #FF3654;
}
.header-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #343A40;
}
.paymentInfo p {
    font-size: 16px;
}
.prdQty {
    border: 1px solid #ced4da;
    margin-bottom: 0;
    padding: 5px 0;
    text-align: center;
    width: 120px;
}

.prdQty:focus {
    outline: none;
}